.hotelList:last-child {
	margin-bottom: 15px;
}
.description-text:first-letter {
	font-size: 200%;
	color: #343A40;
	float: left;
	font-family: 'Times New Roman';
	margin-right: 1%;
	font-weight: bold;
}
.premier {
	border: 3px solid gold;
}

.badge-count {
	background-color: orange;
	color: white;
}